.logo-spiderman{
  fill:transparent;

  animation: logo-spiderman 12s ease infinite alternate;
}

@keyframes logo-spiderman{
  0%{
    stroke-width:0;
    stroke-dasharray: 1 100;
    fill:transparent;
  }
  25%{
    stroke-width:1;
    fill:transparent;
    stroke-dasharray: 100 0;
  }
  60%,100%{
    stroke-width:0.3;
    fill:$white-dark;
  }
}