*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0A0C10;
}

img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #EDF1F7;
}

.border {
  border: 1px solid red;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-auto {
  width: auto;
}

p {
  font-size: 16px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 36px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: auto;
  }
}

@media screen and (max-width: 739px) {
  .container {
    max-width: 370px;
    padding: 0;
  }
}

.container-item-1 {
  max-width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.spiderman {
  width: 140%;
  -webkit-transform: translate3d(-170px, 0, 0);
          transform: translate3d(-170px, 0, 0);
}

@media screen and (max-width: 960px) {
  .spiderman {
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  margin-right: 16px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-transform: uppercase;
  background: linear-gradient(267.72deg, #f02a2f 0.88%, #ea1d22 100%);
  -webkit-box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
          box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
  position: relative;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn::after {
  position: absolute;
  top: -2px;
  left: -2px;
  content: '';
  display: block;
  width: 30%;
  height: 70%;
  border-radius: 3px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  opacity: 0;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn::before {
  position: absolute;
  bottom: -2px;
  right: -2px;
  content: '';
  display: block;
  width: 30%;
  height: 70%;
  border-radius: 3px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  opacity: 0;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn:hover {
  -webkit-transform: skewX(-10deg) scale(1.05);
          transform: skewX(-10deg) scale(1.05);
}

.btn:hover::after {
  opacity: 1;
}

.btn:hover::before {
  opacity: 1;
}

@media screen and (max-width: 739px) {
  .btn {
    padding: 6px 16px;
    margin-left: 4px;
    margin-right: 8px;
  }
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  border: 2px solid red;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-transform: uppercase;
  background: transparent;
  -webkit-box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
          box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
  position: relative;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-secondary::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: 0%;
  height: 103%;
  background: linear-gradient(267.72deg, #f02a2f 0.88%, #ea1d22 100%);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-secondary:hover::after {
  width: 102%;
  height: 103%;
  background: linear-gradient(267.72deg, #f02a2f 0.88%, #ea1d22 100%);
}

@media screen and (max-width: 739px) {
  .btn-secondary {
    padding: 4px 16px;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-video::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(23.96%, #0B0C10), color-stop(52.6%, rgba(11, 12, 16, 0.8)), color-stop(77.6%, #0C0C10));
  background: linear-gradient(90deg, #0B0C10 23.96%, rgba(11, 12, 16, 0.8) 52.6%, #0C0C10 77.6%);
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
  overflow: hidden;
}

header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-left: 24px;
}

@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
}

@-webkit-keyframes anim-mobile-menu {
  from {
    opacity: 0;
    height: 0%;
  }
  to {
    opacity: 1;
    height: 35vh;
  }
}

@keyframes anim-mobile-menu {
  from {
    opacity: 0;
    height: 0%;
  }
  to {
    opacity: 1;
    height: 35vh;
  }
}

.nav-list-mobile {
  list-style: none;
  position: absolute;
  top: 100px;
  z-index: 999;
  background-color: #B31317;
  width: 100%;
  height: 35vh;
  left: 0;
  display: none;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.nav-list-mobile li {
  margin-left: 24px;
}

.nav-list-mobile.active {
  display: block;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-animation: anim-mobile-menu .5s ease;
          animation: anim-mobile-menu .5s ease;
}

.nav-list li:last-child a {
  color: #EA1D22;
}

.logo {
  max-width: 88px;
}

.nav-link {
  display: inline-block;
  color: #959698;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 0px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2.73%, #ea1d22), to(rgba(234, 29, 34, 0.2)));
  background: linear-gradient(360deg, #ea1d22 2.73%, rgba(234, 29, 34, 0.2) 100%);
  left: 50%;
  top: -40px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #F4F7FB;
}

.nav-link:hover::after {
  height: 40px;
}

@media screen and (max-width: 739px) {
  .nav-link {
    color: #EDF1F7;
  }
}

@media screen and (max-width: 960px) {
  .nav-link {
    color: #EDF1F7;
  }
}

.bx {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .bx {
    display: block;
  }
}

.bx::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 15%;
  background-color: #EA1D22;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  width: 40%;
  height: 15%;
  background-color: #EA1D22;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.bx.active::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 45%;
}

.bx.active::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  top: 45%;
  left: 15%;
  width: 70%;
  height: 15%;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 960px) {
  .nav-social {
    display: none;
  }
}

.nav-social svg {
  cursor: pointer;
  margin-left: 16px;
  width: 24px;
}

.nav-social svg path,
.nav-social svg circle {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-social svg:hover path,
.nav-social svg:hover circle {
  fill: #F02A2F;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

.logo-spiderman {
  fill: transparent;
  -webkit-animation: logo-spiderman 12s ease infinite alternate;
          animation: logo-spiderman 12s ease infinite alternate;
}

@-webkit-keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #E5E9EF;
  }
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #E5E9EF;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}
