*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}



@import 'partials/colors';

body{
  width: 100%;
  height: 100vh;
  background-color:$blue-dark;
}

img, svg{
  display: block;
  width: 100%;
}

a{
  text-decoration: none;
  color:$white;
}

.border{
  border:1px solid red;
}

.flex{
  display: flex;
}

.align-items-center{
  align-items:center;
}

.w-auto{
  width:auto;
}

p{
  font-size:16px;
  color:$gray-3;
  letter-spacing:1px;
  line-height: 140%;
}

@import 'partials/responsive';
@import 'partials/layout';
@import 'partials/menu';
@import 'partials/animations';
@import 'partials/spacing';
